<body>
<div class="modal-header">
  <h1 style="text-align: center;margin-left: 35%;">Join Biwiwi</h1>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
<h3 style="margin-left: 100px;font-family: Nunito;">Sell pre-loved clothes completely fee-free</h3>


      <div class="card">
        <div class="card-body">
          <button class="btn btn-outline-danger btn-lg btn-block" (click)="signInWithGoogle()">
            <i class="fab fa-google" ></i> Continue with Google</button>
          <button class="btn btn-outline-primary btn-lg btn-block" (click)="signInWithFB()">
            <i class="fab fa-facebook" ></i> Continue with Facebook</button>
        </div>
      </div>
      <ul class="nav">
        <li class="nav-item">
          <span class="nav-link scrollto active" routerLink="/signup"><h1>Sign up</h1></span>
        </li>
        <li class="nav-item">
          <a class="nav-link scrollto active" routerLink="/login"><h1>Log in</h1></a>
        </li>
        </ul>
      </body>






