
<header id="header" class="header fixed-top" >
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between" >

      <a routerLink="/" class="logo d-flex align-items-center">
          <span>ELECTORO</span>
      </a>
      <div class="input-group flex-nowrap">

        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="What are you Searching for ?">
      </div>
      <nav id="navbar" class="navbar">
          <ul>

              <li><button *ngIf="!isLogged" class=" btn btn-primary1" routerLink="/signup">Join us</button></li>
              <li><button routerLink="/admin" style="width: 150px;" *ngIf="isLogged==true && isAdmin == true" class="btn btn-primary1" >hello {{username}}</button></li>
              <li><button *ngIf="!isLogged" class="btn btn-primary" routerLink="/login" >Sell now</button></li>
              <li><button  *ngIf="isLogged" class="btn btn-primary" routerLink="/" (click)="logOut()" >LogOut</button></li>

          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

  </div>

</header>
