<app-header></app-header>

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
      <div class="row d-flex">
          <div class="col-lg-6">
              <div class="card1 pb-5">

                  <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="card2 card border-0 px-4 py-5">

                <form   *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>

                  <div class="row px-3"> <label class="mb-1">
                          <h6 class="mb-0 text-sm">Email Address</h6>
                      </label> <input class="mb-4"  type="email"
                      class="form-control"
                      name="email"
                      [(ngModel)]="form.email"
                      required
                      email
                      #email="ngModel" placeholder="Enter Email-adress">
                      <div class="alert-danger" *ngIf="email.errors && f.submitted">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">
                          Email must be a valid email address
                        </div>
                      </div>
                    </div>
                  <div class="row px-3"> <label class="msb-1">
                          <h6 class="mb-0 text-sm">UserName</h6>
                      </label> <input   type="text"
                      class="form-control"
                      name="username"
                      [(ngModel)]="form.username"
                      required
                      minlength="3"
                      maxlength="20"
                      #username="ngModel"
                       class="mb-4" placeholder="Enter Username">
                       <div class="alert-danger" *ngIf="username.errors && f.submitted">
                        <div *ngIf="username.errors.required">Username is required</div>
                        <div *ngIf="username.errors.minlength">
                          Username must be at least 3 characters
                        </div>
                        <div *ngIf="username.errors.maxlength">
                          Username must be at most 20 characters
                        </div>
                      </div>
                     </div>
                  <div class="row px-3"> <label class="mb-1">
                          <h6 class="mb-0 text-sm">Password</h6>
                      </label> <input   type="password"
                      class="form-control"
                      name="password"
                      [(ngModel)]="form.password"
                      required
                      minlength="6"
                      #password="ngModel" placeholder="Enter password">
                      <div class="alert-danger" *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                          Password must be at least 6 characters
                        </div>
                      </div> </div>

                  <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Singup</button> </div>
                  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                  </div>
                </form>
                  <div class="row mb-4 px-3"> <small class="font-weight-bold">allready have account ? <a class="text-danger " routerLink="/login" >Login</a></small> </div>
              </div>
          </div>
      </div>

  </div>
</div>

